{% extends 'base.html' %}

{% block title %}
  Удалить абоненту подписку
{% endblock %}

{% block body %}
  <h3>Удалить абоненту подписку:</h3>
  <div>
    <form method="post">

      <div class="my-3">

        {{ form.hidden_tag() }}
        {{ form.MSISDN.label(class="form-label") }}
        {{ form.MSISDN(size=20, class="form-control") }}

        {% if form.errors %}
          {% for field_name, errors in form.errors.items() %}
            <div class="my-3 alert alert-danger">
              <strong>{{ field_name }}</strong>
              <ul>
                {% for error in errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        {% endif %}

      </div>

      <div class="my-3">

        {{ form.hidden_tag() }}
        {{ form.subscription_id.label(class="form-label") }}
        {{ form.subscription_id(size=20, class="form-control") }}

        {% if form.errors %}
          {% for field_name, errors in form.errors.items() %}
            <div class="my-3 alert alert-danger">
              <strong>{{ field_name }}</strong>
              <ul>
                {% for error in errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        {% endif %}

      </div>

      <input class="btn btn-primary" type="submit" value="Удалить">
    </form>
  </div>
  <div class="mt-2">
    <a href="{{ url_for('index') }}">
      Главная
    </a>
  </div>
{% endblock %}
