{% extends 'base.html' %}

{% block title %}
  Mink list
{% endblock %}


{% block body %}
  <h2>Mink</h2>

  {% if minks %}
    <h3>Список:</h3>
<table border="2" bordercolor="#000001">
<tr>
  <th>Номер абонента</th>
  <th>ID подписки</th>
  <th> </th>
  <th>Статус</th>
  <th> </th>
  <th>  Дата создания</th>
</tr>

  {% for mink in minks %}
      <tr>
        <td align="center">{{ mink.MSISDN }}</td>
        <td align="center">{{ mink.subscription_id }}<td>
        <td align="center">{{ mink.status }}<td>
        <td align="center">{{ mink.created }}<td>
      </tr>
  {% endfor %}
</table >

  {% else %}
    <h3>No products yet.</h3>
  {% endif %}


{% if response_text %}
<h3>Ответ партнера:</h3>
    <div class="response-text">
      <table border="2" bordercolor="#000001">
        <tr>
          <td align="center">Response Text: {{ response_text }}<td>
        </tr>
      </table >
    </div>
{% endif %}

{% endblock %}
