{% extends 'base.html' %}

{% block title %}
  Products list
{% endblock %}


{% block body %}
  <h2>Список подписок</h2>

  {% if products %}
    <h3>Subscriptions:</h3>
<table border="2" bordercolor="#000000">
<tr>
  <th>Наименование</th>
  <th>Идентификатор</th>
  <th>Стоимость</th>
</tr>

  {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.serv_id }}<td>
        <td>{{ product.price }}<td>
      </tr>
  {% endfor %}
</table >

  {% else %}
    <h3>No products yet.</h3>
  {% endif %}

  <div class="my-3">
    <a
      class="no-underline"
      href="{{ url_for('products_app.add') }}">Добавить</a>
  </div>

{% endblock %}
