{% extends 'base.html' %}

{% block title %}
  Index page
{% endblock %}

{% block head %}
  <style>
    /* CSS - cascade style sheets */
    /*
    html {
      font-size: 22pt;
    }
     */
  </style>
{% endblock %}

{% block body %}

  <p class="h4">Интерфейс Mink:</p>
  <ul>
    <li>
      <a href="{{ url_for('products_app.list') }}">Каталог подписок</a>
    </li>
    <li>
      <a href="{{ url_for('mink_app.list') }}">Подписки всех абонентов</a>
    </li>
    <li>
      <a href="{{ url_for('mink_app.search') }}">Подписки по абоненту</a>
    </li>
    <li>
      <a href="{{ url_for('mink_app.add') }}">Добавить подписку</a>
    </li>
    <li>
      <a href="{{ url_for('mink_app.delete') }}">Удалить подписку абонента</a>
    </li>
  </ul>
{% endblock %}